/*
 * editablegrid-2.0.1.css
 * 
 * This file is part of EditableGrid.
 * http://editablegrid.net
 *
 * Copyright (c) 2011 Webismymind SPRL
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://editablegrid.net/license
 */


a { color: #548dc4; text-decoration: none; }


table.timereport { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
table.timereport td, table.timereport th { padding: 5px; border: 1px solid #E0E0E0; }
table.timereport th { background: #E5E5E5; text-align: left; }
input.invalid { background: red; color: #FDFDFD; }

td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

td.boolean {
	text-align: center;
}

th.boolean {
	text-align: center;
}
