/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.02.2015, 19:17:23
    Author     : Janina Huber
*/
html {
    height: 100%;
}
body {
    margin: 0 auto;
    padding: 0px;
    border: none;
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

.timereportform h2, .timereportform label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

.timereportform ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.timereportform li{
    padding:12px; 
    /*border-bottom:1px solid #eee;*/
    position:relative;
}

/*.timereportform li:first-child, .timereportform li:last-child {
    border-bottom:1px solid #777;
}*/

.timereportform h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}

.timereportform label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.timereportform input, .timereportFilterform input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

.timereportform select {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}

.timereportFilterform select {
    background: none repeat scroll 0 0 transparent;
    //border: medium none;
    border-radius: 2px;
    font-family: arial,sans-serif;
    font-size: 13px;
    height: 32px;
    margin: 0;
    outline: medium none;
    padding: 6px;
}

.timereportform textarea {padding:8px; width:220px;}
.timereportform button  {margin-left:156px;}

.timereportform input, .timereportFilterform input, .timereportform textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.timereportform input:focus, .timereportFilterform input:focus, .timereportform textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

.timereportform input:focus, .timereportform textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}

.timereportform input, .timereportFilterform input, .timereportform textarea { /* add this to the already existing style */
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

.timereportform input, .timereportFilterform input, .timereportform textarea {
    padding-right:30px;
}

input:required, textarea:required {
    background: #fff url(../images/red_pin.png) no-repeat 90% center;
}

.timereportform input:focus:invalid, .timereportFilterform input:focus:invalid, .timereportform textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/delete.png) no-repeat 90% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.timereportform input:required:valid, .timereportFilterform input:required:valid, .timereportform textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(../images/apply.png) no-repeat 90% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}

.form_hint::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}

.timereportform input:focus + .form_hint {display: inline;}
.timereportform input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.timereportform input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */


/* Button Style */
button.submit, button {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 9px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover, button:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active, button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
     
}

button.logout {
    background-color: #7A1F00;
    margin-right: 15px; 
    margin-top: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#D65C33), to(#7A1F00));
    background: -webkit-linear-gradient(top, #D65C33, #7A1F00);
    background: -moz-linear-gradient(top, #D65C33, #7A1F00);
    background: -ms-linear-gradient(top, #D65C33, #7A1F00);
    background: -o-linear-gradient(top, #D65C33, #7A1F00);
    background: linear-gradient(top, #D65C33, #7A1F00);
    border: 1px solid #D65C33;
    border-bottom: 1px solid #7A1F00;
    box-shadow: inset 0 1px 0 0 #D65C33;
    -webkit-box-shadow: 0 1px 0 0 #D65C33 inset ;
    -moz-box-shadow: 0 1px 0 0 #D65C33 inset;
    -ms-box-shadow: 0 1px 0 0 #D65C33 inset;
    -o-box-shadow: 0 1px 0 0 #D65C33 inset;
}

*:focus {outline: none;}

:-moz-placeholder {
    color: appworkspace;
}
 
::-webkit-input-placeholder {
    color: appworkspace;
}
::-webkit-validation-bubble-message {
    padding: 1em;
}

header{
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: cadetblue;
    color: #eee;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

h1{ 
    width: 200px;
    padding: 0px;
    margin-right: 0px;
    display: inline-block;
}

footer {
   //height: 50px;
    width: 100%;
    background: #ccc;
    position:fixed;
    bottom:0px;
    padding: 15px;
    font-size: 10px;
}

section { 
    padding: 15px;
}
#error_notification{
    color: red;
}
.Workingdays_vacationday{
    background-color: skyblue;
}
.Workingdays_publicholiday{
    background-color: #eee;
}
